<h1>Bienvenue!</h1>

<% if user_signed_in? %>

En ligne!<br />

<%= link_to 'Votre compte', edit_user_registration_path %><br />
<%= link_to 'Se déconnecter', destroy_user_session_path %><br />

<%else%>

Déconnecté!<br />

<%= link_to 'Connexion', new_user_session_path %><br />
<%= link_to 'Inscription', new_user_registration_path %><br />

<% end %>
<%= link_to 'Galeries photo', galleries_path %><br />
<% if user_signed_in? %>
	<% if current_user.nickname=="Khin" %>
		<%= link_to 'Administration', :controller => :galleries, :action => :index2 %>
	<% end %>
<% end %>
